<div>
   <label>
    <input type="checkbox" name="Option" (change)="toggleOption()"/>
    Show option
   </label>
</div>

@if(showOption) {
    <div>
        <label>
            <input type="radio" name="skill" [(ngModel)]="selectionOption" value="Angular" />
            Angular
        </label>
        <label>
            <input type="radio" name="skill" [(ngModel)]="selectionOption" value="Reactjs" />
            ReactJS
        </label>
        <label>
            <input type="radio" name="skill" [(ngModel)]="selectionOption" value="Vuejs" />
            Vuejs
        </label>
    </div>
    @if(selectionOption === 'Angular') {
        <img src="assets/angular.jpg" width="100px" alt="angular"/>
    } @else if (selectionOption === 'Reactjs') {
        <img src="assets/reactjs.png" width="100px" alt="reactjs"/>
    } @else {
        <img src="assets/vuejs.png" width="100px" alt="Vuejs"/>
    }

    @if(user$ | async; as user) {
      {{user}}
    }
}



<div>
    <h2>User List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track user.id; let index = $index, first = $first, last = $last, odd = $odd, even = $even, count = $count) {
            <tr>
              <td>{{index}} - {{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}} index={{index}} first={{first}} last={{last}} even={{even}} odd={{odd}} count={{count}}</td>
            </tr>
        }
        @empty {
            <tr>
              <td colspan="3">No user found</td>
            </tr>
        }
      </tbody>
    </table>
  </div>


  @switch (selectionOption) {
    @case ('Angular') {
        <img src="assets/angular.jpg" width="100px" alt="angular"/>
    }
    @case ('Reactjs') {
        <img src="assets/reactjs.png" width="100px" alt="reactjs"/>
    }
    @default {
        <img src="assets/vuejs.png" width="100px" alt="Vuejs"/>
    }
  }

  <!-- ng generate @angular/core:control-flow -->





